
<div class="makeGraph" id="chartBetweenDates" style="width: 1000px; height: 300px;">
	<span>{{ arrGraphJson }}</span>
</div>

<script type="text/javascript" src="{{ asset('bundles/melodyroadanalytics/js/graphLoader.js') }}"></script>