<div class="makeBar" id="chartBetweenDates" style="width: 1000px; height: 300px;">
	<span>{{ arrBarJson }}</span>
</div>

<script type="text/javascript" src="{{ asset('bundles/melodyroadanalytics/js/barLoader.js') }}"></script>